@font-face {
 font-family: "PT Sans";
 src: url("../fonts/PTSans-Regular.ttf") format("ttf")
}

.width-100 {
    width: 100%;
}
.width-90 {
    width: 90%;
}
.width-80 {
    width: 80%;
}
.width-70 {
    width: 70%;
}
.width-60 {
    width: 60%;
}
.width-50 {
    width: 50%;
}
.width-40 {
    width: 40%;
}
.width-30 {
    width: 30%;
}
.width-20 {
    width: 20%;
}
.width-10 {
    width: 10%;
}


.p-8 {
    padding: 8px;
}

.p-l-8 {
    padding-left: 8px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-t-24 {
    margin-top: 24px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.display-block {
    display: block;
}

.disabled {
    opacity: .6;
    pointer-events: none;
}

.overflow-hidden {
    overflow: hidden;
}

.float-left {
    float: left;
}

.m-r-8 {
    margin-right: 8px;
}

.simple-button {
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
}

.simple-button:active {
    outline: none;
}

.simple-button:hover {
    opacity: .6;
}
