* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;   
}



.init-container {
    display: none;
    padding-top: 60px;
    text-align: center;
}


.init-container.active {
    display: block;
}

.app-container {
    display: none;
    overflow: hidden;
}

.app-container.active {
    display: block;
}

.app-left-section {
    float: left;
    width: calc(100% - 300px);
}

.app-right-section {
    float: left;
    width: 300px;
}

.calendar-container {
    padding-top: 80px;
}


.interface-container {
    height: 80px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
}


.calendar-holder {
    width: 100%;
}

.calendar-holder::after {
    content: " ";
    clear: both;
}

.calendar-holder .square {
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    float: left;
    margin: 6px;
    padding: 8px;
}

.calendar-holder .square.square-lived {
    background: #363636;
}

.calendar-holder .square.square-birthday {
    background: aqua;
    border: none;
}
.year-hr {
    opacity: .7;
    padding-left: 60px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.year-hr::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ddd;
    top: 8px;
    margin-left: 8px;
}

.year-hr::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: #ddd;
    top: 8px;
    margin-left: 8px;
    left: 0;
}

.file-input-box {
    width: 280px;
    margin: 8px auto;
    border: 1px solid #ddd;
    padding: 16px;
}
.file-input-box label {
    text-align: left;
    font-size: 12px;
}

.add-event-dialog-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 255, 255, .6);
    display: none;
}

.add-event-dialog-container.active {
    display: block;
}

.add-event-dialog {
    width: 360px;
    padding: 16px;
    border: 1px solid #000;
    margin: 60px auto;
    background: #fff;
}

.add-event-dialog input {
    width: 100%;
}

.add-event-dialog select {
    width: 100%;
}

.add-event-dialog textarea {
    width: 100%;
    resize: none;
    height: 80px;
}

.add-event-button {
    float: right;
    display: block;
}

.close-event-button {
    float: left;
    display: block;
}

.event-item {
    padding: 8px;

}
.event-item-date {
    font-size: 11px;
    color: #1f1f1f;
}
.event-item-text {
    padding-left: 16px;
    font-size: 11px;
}

.eventsContainer {
    padding-left: 16px;
}


.event-date-single-holder {
    display: none;
}

.event-date-single-holder.active {
    display: block;
}

.event-date-range-holder {
    display: none;
}


.event-date-range-holder.active {
    display: block;
}

.event-date-regular-holder  {
    display: none;
}

.event-date-regular-holder.active {
    display: block;
}

.calendar-holder .square.square-events-1 {
    background: darkseagreen;
    border: 0;
    color: #fff;
}

.calendar-holder .square.square-events-2 {
    background: cornflowerblue;
    border: 0;
    color: #fff;
}

.calendar-holder .square.square-events-3 {
    background: orange;
    border: 0;
    color: #fff;
}