* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;   
}


.init-container {
    display: none;
    padding-top: 60px;
    text-align: center;
}


.init-container.active {
    display: block;
}

.app-container {
    display: none;
    overflow: hidden;
}

.app-container.active {
    display: block;
}

.app-left-section {
    float: left;
    width: calc(100% - 300px);
}

.app-right-section {
    float: left;
    width: 300px;
}

.calendar-container {
    padding-top: 80px;
}
.calendar-container.hide-years .year-hr {
    display: none;
}


.interface-container {
    height: 100px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;
    padding: 16px;
    padding-top: 36px;
}


.calendar-holder {
    width: 100%;
    padding-left: 12px;
}

.calendar-holder::after {
    content: " ";
    clear: both;
}

.calendar-holder .square {
    width: 48px;
    height: 48px;
    border: 1px solid #000;
    float: left;
    margin: 6px;
    padding: 8px;
    position: relative;
    cursor: pointer;
}

.calendar-holder .square:hover {
    opacity: .5;
}

.calendar-holder .square.square-lived {
    background: #363636;
    color: #fff;
}
.calendar-holder .square.square-has-events {
    color: #363636;
}

.calendar-holder  .square.square-current-week {
    border: 2px solid #000;
}

.calendar-holder .square .event-overlay-holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.calendar-holder .square .event-overlay.event-overlay-1-out-1 {
    height: 100%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-2 {
   height: 50%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-3 {
   height: 33%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-4 {
   height: 25%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-5 {
   height: 20%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-6 {
   height: 16.5%; 
}

.calendar-holder .square .event-overlay.event-overlay-1-out-7 {
   height: 14.2%; 
}

.square-events-count {
    position: relative;
    z-index: 1;
}


.year-hr {
    opacity: .7;
    padding-left: 60px;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.year-hr::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ddd;
    top: 8px;
    margin-left: 8px;
}

.year-hr::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background: #ddd;
    top: 8px;
    margin-left: 8px;
    left: 0;
}

.file-input-box {
    width: 280px;
    margin: 8px auto;
    border: 1px solid #ddd;
    padding: 16px;
}
.file-input-box label {
    text-align: left;
    font-size: 12px;
}

.event-dialog-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, .6);
    display: none;
}

.event-dialog-container.active {
    display: block;
}

.event-dialog {
    width: 360px;
    padding: 16px;
    border: 1px solid #000;
    margin: 60px auto;
    background: #fff;
}

.event-dialog input {
    width: 100%;
}

.event-dialog select {
    width: 100%;
}

.event-dialog textarea {
    width: 100%;
    resize: none;
    height: 80px;
}

.event-dialog-container.edit-dialog .add-event-button {
    display: none
}

.event-dialog-container.add-dialog .save-event-button {
    display: none
}

.event-dialog-container.add-dialog .delete-event-button {
    display: none
}


.add-event-button {
    float: right;
    display: block;
}

.save-event-button {
    float: right;
    display: block;
}

.delete-event-button {
    float: right;
    display: block;
}

.close-event-button {
    float: left;
    display: block;
}

.event-item {
    padding: 8px;
    cursor: pointer;
    position: relative;
    padding-left: 34px;

}

.event-item-color {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 12px;
    height: 12px;
    display: block;
}

.event-item:hover {
    background: #ddd;
}

.event-item-date {
    font-size: 11px;
    color: #1f1f1f;
}
.event-item-text {
    padding-left: 16px;
    font-size: 11px;
}

.eventsContainer {
    padding-left: 16px;
}


.event-date-single-holder {
    display: none;
}

.event-date-single-holder.active {
    display: block;
}

.event-date-range-holder {
    display: none;
}


.event-date-range-holder.active {
    display: block;
}

.event-date-regular-holder  {
    display: none;
}

.event-date-regular-holder.active {
    display: block;
}

.event-color-input-holder {
    float: left;
    margin-right: 8px;
}

.calendar-holder .square.square-events-1 {
    background: darkseagreen;
    border: 0;
    color: #fff;
}

.calendar-holder .square.square-events-2 {
    background: cornflowerblue;
    border: 0;
    color: #fff;
}

.calendar-holder .square.square-events-3 {
    background: orange;
    border: 0;
    color: #fff;
}

.event-id-holder {
    position: absolute;
    top: 5px;
    font-size: 10px;
    color: grey;
    right: 0;
}

.sp-colorize-container.sp-add-on {
    width: 32px !important;
}

.interface-button {
    background: #fff;
    padding: 8px;
    border: 1px solid #000;
    cursor: pointer;
}

.interface-button:hover {
    opacity: .5;
}

.square-context-menu {
    position: absolute;
    min-width: 320px;
    background: #fff;
    border: 1px solid #000;
    z-index: 2;
}

.square-context-menu {
    padding: 16px;
}

.year-slider {
    width: 200px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 4px;
    border: 1px solid #000;
}
.noUi-handle.noUi-handle-lower {
    border: 1px solid #000;
}
.noUi-horizontal .noUi-handle {
    border: 1px solid #000;
}
.noUi-connect {
    background: #ddd;
}
.noUi-tooltip {
    font-size: 9px;
}
.noUi-handle.noUi-handle-upper {
    width: 20px;
}
.noUi-handle.noUi-handle-lower {
    width: 20px;
}

.noUi-handle:before {
    left: 6px;
}

.noUi-handle:after {
    left: 12px;
}

.context-menu-event {
    position: relative;
    padding-left: 26px;
}


.context-menu-event .context-menu-event-color {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 10px;
    height: 10px;
}

.context-menu-header {
    font-size: 11px;
    color: grey;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
    overflow: hidden;
}

.context-menu-week-holder {
    float: right;
}

.context-menu-period-label {
    border-bottom: 1px dotted #000;
}

.category-container {
    display: none;
}

.category-container.active {
    display: block;
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    width: 90%;
    min-height: 90%;
    top: 40px;
    z-index: 4;
    left: 5%;
}
.category-container-content {
    width: 100%;
    height: 100%;
}

.category-close-button-dialog {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
}


.category-close-button-dialog:hover {
    opacity: .6;
}

.category-header {
    padding-left: 27px;
    font-size: 20px;
    margin: 16px;
    padding-top: 8px;
}

.category-container-body {
    padding: 0 16px;
}

.category-item {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    margin: 16px;
}

.category-item {
    overflow: hidden;
}

.category-item label {
    display: block;
    font-size: 11px;
    color: #000;
}

.category-color-input-holder {
    float: left;
    margin-right: 8px;
}

.category-name-input-holder {
    float: left;
    margin-right: 8px;
}

.category-delete-button {
    margin-top: 14px;
    float: left;
}

.category-container-footer {
    height: 80px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
