* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;   
}


.init-container {
    display: none;
    padding-top: 60px;
    text-align: center;
}


.init-container.active {
    display: block;
}

.app-container {
    display: none;
    overflow: hidden;
}

.app-container.active {
    display: block;
}

.app-left-section {
    float: left;
    width: calc(100% - 300px);
}

.app-right-section {
    float: left;
    width: 300px;
}

.interface-container {
    height: 100px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2;
    padding: 16px;
    padding-top: 36px;
    overflow: hidden;
}

.file-input-box {
    width: 280px;
    margin: 8px auto;
    border: 1px solid #ddd;
    padding: 16px;
}
.file-input-box label {
    text-align: left;
    font-size: 12px;
}

.event-id-holder {
    position: absolute;
    top: 5px;
    font-size: 10px;
    color: grey;
    right: 0;
}

.sp-colorize-container.sp-add-on {
    width: 32px !important;
}

.interface-button {
    background: #fff;
    padding: 8px;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
}

.interface-button:hover {
    opacity: .5;
}

.interface-button.active {
    background: coral;
    color: #fff;
}

.square-context-menu {
    position: absolute;
    min-width: 320px;
    background: #fff;
    /*border: 1px solid #000;*/
    z-index: 4;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.square-context-menu>div {
    max-height: 400px;
    overflow: auto;
}

.square-context-menu {
    padding: 16px;
}

.year-slider {
    width: 200px;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 3px;
    border: 1px solid #000;
}
.noUi-handle.noUi-handle-lower {
    border: 1px solid #000;
}
.noUi-horizontal {
    height: 16px;
}
.noUi-horizontal .noUi-handle {
    border: 1px solid #000;
}
.noUi-connect {
    background: #ddd;
}
.noUi-tooltip {
    font-size: 9px;
}
.noUi-handle.noUi-handle-upper {
    width: 20px;
}
.noUi-handle.noUi-handle-lower {
    width: 20px;
}

.noUi-handle {
    border-radius: 0;
}

.noUi-handle:before {
    left: 6px;
}

.noUi-handle:after {
    left: 12px;
}

.noUi-tooltip {
    padding: 3px;
}
.noUi-target {
    border-radius: 0;
}

.context-menu-event {
    position: relative;
    padding-left: 26px;
}


.context-menu-event .context-menu-event-color {
    position: absolute;
    left: 5px;
    top: 4px;
    width: 10px;
    height: 10px;
}

.context-menu-header {
    font-size: 11px;
    color: grey;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
    padding-top: 1px;
}

.context-menu-week-holder {
    float: right;
}

.context-menu-period-label {
    border-bottom: 1px dotted #000;
}


/*Years page start here */
.years-render-container {
    display: none
}

.years-render-container.active {
    display: block;
    position: fixed;
    border: 1px solid #000;
    background: #fff;
    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 4;
    left: 0;
    padding: 36px 16px;
}
.years-close-button-dialog {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
}

.years-close-button-dialog:hover {
    opacity: .6;
}

.years-render-container .year-square {
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    float: left;
    margin: 6px;
    padding: 8px;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
}
.years-render-container .year-square .square-events-count{
    height: 24px;
    width: 24px;
    line-height: 21px;
}


.year-square.year-square-lived {
    background: #64dd17;
    border: 1px solid #777;
}

.year-square.year-square-current {
    background: coral;
    border: 1px solid #777;
}

.year-square-year-number {
    position: absolute;
    bottom: 4px;
    font-size: 10px;
    right: 4px;
    background: #fff;
    padding: 1px 3px;
    /*border-radius: 5px;*/
    height: 15px;
    line-height: 15px;
}


/* Years page ends here*/


.context-menu-events-categories {
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
.context-menu-title {
    margin-bottom: 4px;
    font-weight: bold;
    color: coral;
    opacity: .8;
}

.show-week-detail, .show-day-detail {
    font-size: 10px;
    border: 1px solid #000;
    background: #fff;
    margin-right: 4px;
    margin-bottom: 2px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 2px;
    color: #000;
    display: inline-block;
    position: relative;
    top: -1px;
}

.show-week-detail:hover. .show-day-detail:hover {
    opacity: .6;
}

.dialog {
    overflow: scroll;
    position: fixed;
}

.clear-events-filter-button {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    height: 24px;
    background: #fff;
    border: 1px solid #000;
}
.clear-events-filter-button:hover {
    background: #ddd;
}

.events-filter-holder:hover .clear-events-filter-button {
    display: block;
}




.infloblock-short {
    display: none;
}
.infloblock-short.active {
    display: block;
}


.infloblock-full {
    display: none;
}
.infloblock-full.active {
    display: block;
}

.infloblock-progress-container {
    padding: 8px;
    padding-bottom: 24px;
}

.infloblock-progress {
    height: 16px;
    width: 100%;
    background: #ddd;
    border: 1px solid #000;
    position: relative;
}
.infloblock-progress-lived-percent {
    position: absolute;
    left: 1px;
    top: 0;
    height: 14px;
    background: #6aa84f;
}

.infloblock-progress-lived-slept-percent {
    position: absolute;
    left: 0;
    top: 0;
    height: 14px;
    background: grey;
}


.infloblock-progress-future-sleep-percent {
    position: absolute;
    right: 0;
    top: 0;
    height: 14px;
    background: grey;
}


.infoblock-show-button, .infoblock-hide-button {
    margin: 0 auto;
    border: 1px solid #000;
    background: #fff;
    display: block;
    cursor: pointer;
}

.infoblock-show-button:hover, .infoblock-hide-button:hover {
    opacity: .5;
}



.infloblock-progress-age-pillar {
    position: absolute;
    top: 18px;
    font-size: 10px;
    margin-left: -4px;
    opacity: .75;
}

.infloblock-progress-age-pillar::before {
    content: " ";
    display: block;
    width: 1px;
    height: 8px;
    background: black;
    position: absolute;
    margin-left: 4px;
    top: -8px;
}   
